h1 
{   
text-align: center;
font-size: 35px;
color: blueviolet;
background-color: blanchedalmond;
} 
p
{
font-style: italic;
font-weight: normal;
}
p1, p2
{
background-color: rgb(91, 174, 237);
font-weight: bold;
}
label 
{
    text-align:left;
}
input 
{
    text-align:left;
}